<div id="gameBoard">
  <h2>Totally Tubular Trivia!</h2>
  <div id="timeRemaining">
    <div>Time Remaining: </div>
    <div id="secondsRemaining">30</div>
    <div> Seconds</div>    
  </div>

  <form id="form1">
    <button type="button" id="playerNameButton">Player: </button>
    <input type="text" id="playerNameText" name="playertNameText" placeholder="Username">
    <button type="button" class="ctbtn" id="startButton">Join Game</button>
  </form>

  <div class="col-md-1" id="leaderBoard">
    <div id"player1" class="player">
      <span id="player1-name" class="player-name">Luke Skywalker</span>
      <span id="player1-score" class="player-score">5000</span>
    </div>
    <div id"player2" class="player">
      <span id="player1-name" class="player-name">Luke Skywalker</span>
      <span id="player1-score" class="player-score">5000</span>
    </div>
    <div id"player3" class="player">
      <span id="player1-name" class="player-name">Luke Skywalker</span>
      <span id="player1-score" class="player-score">5000</span>
    </div>
    <div id"player4" class="player">
      <span id="player1-name" class="player-name">Luke Skywalker</span>
      <span id="player1-score" class="player-score">5000</span>
    </div>
  </div>

  <div id="qAndA" class="TBD">

    <div class="row" id="qDiv"><h5 class="question">What African country served as the setting for Tatooine in <em>Star Wars?</em></h5></div>

    <div class="row" id="ansDiv">
      <div class="col-md-1">
        <p class="answer">Morocco</p>
        <p class="answer">Egypt</p>
        <p class="answer">Tunisia</p>
        <p class="answer">Ethiopia</p>
      </div>
    </div>

    <div class="row" id="newRound">
      <div class-"col-md-1">*****  NEW ROUND  *****</div>
    </div>

  </div>  <!--  qAndA  -->
</div>  <!--  gameBoard  -->


<div id="results">
  <h2>Results</h2>
  <hr>
  <p id="correctAnswers">Correct Answers: </p>
  <p id="incorrectAnswers">Incorrect Answers: </p>
  <button type="button" id="playAgainButton">Play Again</button>
</div>

<div id="player-wait-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Wait</h5>
          <span aria-hidden="true"></span>
      </div>
      <div id="modal-body" class="modal-body">Waiting for Opponents...
        <h4>Current Users in Queue: </h4>
        <div id="usersGoHere"></div>
      </div>
      <div id="user-list"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
