<div id="gameBoard">
  <h2>Totally Tubular Trivia!</h2>
  <div id="timeRemaining">
    <div>Time Remaining: </div>
    <div id="secondsRemaining">30</div>
    <div> Seconds</div>    
  </div>

  <form id="form1">
    <button type="button" id="playerNameButton">Player: </button>
    <input type="text" id="playerNameText" name="playertNameText" placeholder="Username">
    <button type="button" class="btn" id="startButton">Join Game</button>
  </form>

  <div id="questionsAndAnswers" class="WTF">
    <div class="row" id="questionText">
      <div class="col-md-1"></div>
    </div>
    <div class="row" id="answers">
      <div class="row" id="answers01">
        <div class="col-md-2">
          <span class="answer" id="answer0"></span>
          <span class="answer" id="answer1"></span>
        </div>
      </div>
      <div class="row" id="answers23 answers">
        <div class="col-md-2" id="questionsCD">
          <div class="answer" id="answer2"></div>
          <div class="answer" id="answer3"></div>
        </div>
      </div>
    </div>
  </div>  <!--  questionsAndAnswers  -->

</div>  <!--  gameBoard  -->

<div id="results">
  <h2>Results</h2>
  <hr>
  <p id="correctAnswers">Correct Answers: </p>
  <p id="incorrectAnswers">Incorrect Answers: </p>
  <button type="button" id="playAgainButton">Play Again</button>
</div>

<div id="player-wait-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Wait</h5>
          <span aria-hidden="true"></span>
      </div>
      <div id="modal-body" class="modal-body">Waiting for Opponents...
        <h4>Current Users in Queue: </h4>
        <div id="usersGoHere"></div>
      </div>
      <div id="user-list"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
