
/*  =====  LAYOUT  =====  */

body {
  background-color: #ffc857;
  background-size: cover;
  font-family: Sriracha;
  color: white;
  letter-spacing: 3px;
}

#gameBoard {
  width: 1024px; height: 100%;
  background-color: #544759;
  margin-bottom: 5%;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px 20px;
  text-align: center;
}

#leaderBoard {
  background-color: white;
  border: 1px solid #302933;
  border-radius: 5px;
  margin: 20px auto;
  width: 95%;
}

#leaderBoardHeader {
  border-radius: 5px 5px 0px 0px;
  background-color: #119da4;
  font-family: Raleway;
  color: white;
  margin: 0px;
  padding: 5px;
}

#qAndA {
  background-color: #119da4;
  border: 1px solid #302933;
  border-radius: 5px;
  margin: 20px auto;
  text-align: left;
  width: 95%;
}

h5.question {
  background: white;
  border-radius: 5px 5px 0px 0px;
  font-family: Raleway;
  font-size: 22px;
  color: #119da4;
  padding: 10px 15px;
}

p.answer {
  background-color: #119da4;
  border: 1px solid white;
  border-radius: 5px;
  font-family: Raleway;
  font-size: 20px;
  color: white;
  margin: 4px 10px 13px 24px;
  padding: 5px 10px;
  width: 95%;
}

p.answer.success { color: green; }
p.answer.failure { color: red; }


button {
  background-color: #ffc857;
  border: 1px solid #302933;
  border-radius: 5px;
  font-family: Sriracha;
	color: #1f2041;
	font-size: 28px;
	letter-spacing: 5px;
	padding: 0px 50px;
	margin: 1px auto;
	text-align: center;
}


button:focus { outline: none; }

#doneButton {
  margin-top: 20px;
  display: none;
}

#form1 { background: rgba(255, 255, 255, 0.5); }

input[type=text], select {
  display: inline-block;
  border: 1px solid #302933;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;

  background-color: white;
  font-weight: bold;
  font-size: 22px;
  color: #19647e;
  margin: 8px 0px;
  padding: 4px 20px;
  width: 280px;
}

input[type=text]:focus, select {
  font-family: Sriracha;
  color: #19647e;
}

#form1 {
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}


.player {
  border: 1px solid #119da4;
  background-color: white;
  border-radius: 5px;
  font-family: Raleway;
  font-weight: bold;
  color: #119da4;
  margin: 10px auto;
  padding: 5px;
  width: 95%;

  display: flex;
  align-items: center;
}

/*  =====  TEXT  =====  */


h1, h3, hr { margin: 10px 0px; }

h1 {
  font-family: Sedgwick Ave Display;
  font-size: 42px;
  color: #ffc857;
  letter-spacing: 5px;
}

h2, .timeRemaining {
  font-family: Sedgwick Ave Display;
  font-size: 60px;
  color: #ffc857;
  letter-spacing: 7px;
  margin: 5px 0px;
}

.timeRemaining { font-size: 48px; }

h3 {
  font-family: Raleway;
  font-size: 14px;
  color: white;
}


#newRound {
  font-size: 32px;
  font-weight: bold;
  color: #ffc857;
  margin: 1em auto;
  display: flex;
  justify-content: center;
}


#results {
  background-color: #035064;
  border-radius: 10px;
  font-size: 21px;
  margin: 15% auto 0;
  padding: 2%;
  text-align: center;
  width: 40%;
  display: none;
}

#timeRemaining {
  font-size: 30px;
  color: #ffc857;
  margin-bottom: 20px;
}

#timeRemaining div { display: inline-block; }

#secondsRemaining {
  font-family: Raleway;
  color: white;
  width: 50px !important;
}



.question-title {
  color: white;
  margin-bottom: 5px;
}


.question { padding: 1%; }

#player-wait-modal {
  /* display: block;
  opacity: 1; */
  top: 50px;
}

.modal-content { box-shadow: 3px 3px 20px #555; }

.modal-header {
  background-color: #119da4;
  display: flex;
  align-content: center;
  justify-content: center;
}

h2.modal-title {
  font-family: Sriracha;
  font-size: 28px;
  color: #ffc857;
  margin: 15px 0px 0px;
  text-align: center;
}

.modal-body {
  background-color: #d1d1d1;
  color: #119da4;
}

#modal-body h3 {
  font-family: Sriracha;
  font-size: 16px;
  color: #119da4;
  margin: 0px;
}

#usersGoHere {
  font-size: 32px;
}

.modal-footer {
  background-color: #119da4;
  border-radius: 0px;
  font-size: 18px;
  color: #ffc857;
  display: flex;
  justify-content: center;
}

#modal-body h4 {
  font-size: 24px;
  text-decoration: underline;
}

p.user-line {
  font-size: 16px;
}

.hidden {
  display: none
}
