
/*  =====  LAYOUT  =====  */

body {
  background-color: #ffc857;
  background-size: cover;
  font-family: Raleway;
  color: white;
  letter-spacing: 3px;
}

#gameBoard {
  width: 1024px; height: 100%;
  background-color: #544759;
  margin-bottom: 5%;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px 20px;
  text-align: center;
}

#qAndA {
  margin: 0 auto;
  text-align: left;
  width: 90%;
}



/*  =====  CONTENT  =====  */



/*  =====  GRAPHICS  =====  */

button {
  background-color: #ffc857;
  border: 1px solid #ffc857;
  border-radius: 5px;
  font-family: Great Vibes;
	color: #0d7a80;
	font-size: 28px;
	letter-spacing: 5px;
	padding: 5px 50px 0px;
	margin: 1px auto;
	text-align: center;
}

button:focus { outline: none; }

#doneButton {
  margin-top: 20px;
  display: none;
}

input[type=radio] {
  margin-bottom: 7px;
  vertical-align: middle;
}

hr {
  border-top: 1px solid #ffc857;
  margin: 10px 0px 15px;
  padding: 0px 10px;
}

input[type=text], select {
  display: inline-block;
  border: 1px solid #ffc857;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;

  font-weight: bold;
  font-size: 18px;
  color: #0d7a80;
  margin: 8px 0px 8px;
  padding: 6px 20px;
}

input[type=text]:focus, select {
  border-width: 3px;
  padding: 4px 18px;
}

#form1 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}


/*  =====  TEXT  =====  */


h1, h3, hr { margin: 10px 0px; }

h1 {
  font-family: Great Vibes;
  font-size: 42px;
  color: #ffc857;
  letter-spacing: 5px;
}

h2, .timeRemaining {
  font-family: Great Vibes;
  font-size: 60px;
  color: #ffc857;
  letter-spacing: 7px;
  margin: 5px 0px;
}

.timeRemaining { font-size: 48px; }

h3 {
  font-family: Raleway;
  font-size: 14px;
  color: white;
}


#leaderBoard {
  margin: 0 auto;
  text-align: center;
}

.player {
  width: 885px;
}

.player-name {
  color: fuchsia;
}

.player-score {
  color: fuchsia;
}


h5.question {
  font-size: 20px;
  margin: 0.25em auto;
}

p.answer {
  font-family: Raleway;
  font-size: 18px;
  color: white;
  margin: 0.25em 0em;
}

p.answer.success { color: green; }
p.answer.failure { color: red; }

#newRound {
  font-weight: bold;
  margin: 1em auto;
  text-align: center;
}


#results {
  background-color: #035064;
  border-radius: 10px;
  font-size: 21px;
  margin: 15% auto 0;
  padding: 2%;
  text-align: center;
  width: 40%;
  display: none;
}

#timeRemaining {
  font-size: 30px;
  color: #ffc857;
  margin-bottom: 20px;
}

#timeRemaining div { display: inline-block; }

#secondsRemaining {
  font-family: Raleway;
  color: #ffc857;
  width: 50px !important;
}



#qAndA { font-size: 20px; }

.question-title {
  color: white;
  margin-bottom: 5px;
}

label {
  font-family: Raleway;
  font-size: 15px;
  color: #0d7a80;
  margin-right: 20px;
}

.question, label { padding: 1%; }

#player-wait-modal {
  color: black;
  letter-spacing: default;
}